/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: ivory;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
  }
  
  .header-logo {
    height: 24px;
  }
  
  .header ul {
    display: flex;
    gap: 24px; /* メニュー間の間隔 */
  }
  
  .header li a:hover {
    opacity: 0.7;/* ホバー時の不透明度 */
  }

/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
  .main-visual {
    width: 100%;/* 親要素の幅に合わせる */
    height: 640px;/* 固定高さ */
    object-fit: cover;/* アスペクト比を維持 */
    border-radius: 16px;/* 角の丸め半径 */
  }

/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .section-title {
    border-bottom: solid 1px #383e45;
  }
  

/* -------------------------------------------
  プロフィール
  -------------------------------------------*/
  .profile {
    display: flex;
    align-items: center;
    gap: 40px;/* 画像部分と文章部分の間隔 */
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

/* -------------------------------------------
  記事
  -------------------------------------------*/
  .articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/* グリッドレイアウト */
    gap: 40px 16px;/* 縦方向40px、横方向16pxの間隔 */
  }
  
  .article {
    display: flex;
    flex-direction: column; 
    gap: 8px;  /* 画像部分、タイトル部分、内容部分の間隔 */
  }
  
  .article-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

/*-------------------------------------------
  フッター
  -------------------------------------------*/
  .footer {
    font-size: small; /* 小さい文字サイズ */
    padding: 40px 0;  /* 上下のpadding */
    text-align: center;
  }